langchain
langchain-core
langchain-community
langchain-mistralai

langgraph

tavily-python
beautifulsoup4
requests
lxml

python-dotenv

pydantic

streamlit

faiss-cpu
tiktoken

wikipedia
arxiv

duckduckgo-search

typing-extensions

httpx
